<!--Question-->
<h1>
    {{question.title}}
</h1>
<p>
    {{question.content}}
</p>

<!--Answers already here-->

<div *ngFor="let answerId of question.answers" >
    
    <answer [id]="answerId"></answer>

</div>

<!--New answer to create-->
<form id="formId" (ngSubmit)="createAnswer()" #refForm="ngForm">
    <div>
        <textarea name="content" rows="4" cols="120" placeholder="Answer here..." [(ngModel)]="_answerContent"></textarea>
    </div>

    <button name="create" class="btn btn-success">Answer</button>
</form>