.navbar-default, .navbar-static-top {
    background-color: lightblue;
}

.st-menu {
    background: lightcyan;
}

body {
    -moz-box-shadow: 0 0 0.3em lightblue;
    -webkit-box-shadow: 0 0 0.3em lightblue;
    box-shadow: 0 0 0.3em lightblue;
}

.footer {
    background: lightblue;
}

.footer a {
    color: lightblue;
}

.nav li.dropdown.open ul.dropdown-menu {
    background-color: lightblue;
}

th:hover, tr:hover {
    background: lightcyan;
}

.grails-logo-container {
    background:lightcyan no-repeat 50% 30%;
}

/** Answer **/

.answer {
    border: 1px solid lightgray;
}

.answer.content .content {
    width: 100%;
    min-height: 2em;
    
}
